VITE_API_URL=http://localhost:3001

DATABASE_URL="postgresql://postgres:1234@localhost:5432/fretehub_dev?schema=public"
JWT_SECRET="fretehub_secret_123"
PORT=3001
ENCRYPTION_KEY="12345678901234567890123456789012"

#  JAMEF # 
JAMEF_API_ENABLED=true
JAMEF_ENV=production
JAMEF_AUTH_URL=https://api.jamef.com.br/auth/v1/login
JAMEF_QUOTE_URL=https://api.jamef.com.br/calculo-frete/v1/cotacao
JAMEF_USERNAME=
JAMEF_PASSWORD=

JAMEF_DOCUMENTO_DEVEDOR=28584157000120
JAMEF_DOCUMENTO_REMETENTE=28584157000120
JAMEF_CEP_ORIGEM=04144070
JAMEF_FILIAL_ORIGEM=

#  Braspress # 
BRASPRESS_API_ENABLED=true
BRASPRESS_BASE_URL=https://api.braspress.com
BRASPRESS_QUOTE_URL=https://api.braspress.com/v1/cotacao/calcular/json
BRASPRESS_CNPJ_REMETENTE=10918347000171
BRASPRESS_CEP_ORIGEM=42701370
BRASPRESS_USERNAME=
BRASPRESS_PASSWORD=

# Camilo / SSW
CAMILO_API_ENABLED=false

CAMILO_BASE_URL=https://ssw.inf.br/ws/sswCotacaoCliente/index.php
CAMILO_QUOTE_URL=https://ssw.inf.br/ws/sswCotacaoCliente/index.php?wsdl

CAMILO_DOMAIN=RCS
CAMILO_USERNAME=SEU_USUARIO
CAMILO_PASSWORD=SUA_SENHA
CAMILO_PAYER_PASSWORD=SUA_SENHA_PAGADOR

# Usado como remetente e pagador
CAMILO_CNPJ_REMETENTE=10918347000252
CAMILO_CEP_ORIGEM=42701370

CAMILO_MERCHANDISE_CODE=1
CAMILO_COLLECT=N
CAMILO_DIFFICULT_DELIVERY=N